table {
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

// button{
//   margin: 20px;
//   margin-left: 0;
//   padding: 10px 20px;
// }

// button:hover{
//   cursor: pointer;
// }

.table-header {
  font-size: 1.3em;
}

.table-data {
  text-align: center;
}
