<div class="container">
  <form [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">

    <div formArrayName="questions" *ngFor="let question of questions; let i = index">
      <div [formGroupName]="i">
        <div class="main-card">

          <div class="question-card">
            <div class="wrap-left">
              <mat-form-field>
                <mat-label appearance="outline">Question title</mat-label>
                <input matInput formControlName="title" type="text" />
              </mat-form-field>
            </div>

            <div class="wrap-right">
              <mat-checkbox formControlName="multiselect" class="example-margin">Multiselect
              </mat-checkbox>
              <button (click)="onRemoveQuestion(i)" mat-stroked-button color="primary" [disabled]="canDeleteQue">Delete
                question</button>
            </div>
          </div>

          <div formArrayName="options" *ngFor="let option of getOptions(i); let j = index">
            <div [formGroupName]="j">

              <div class="option-container">

                <div *ngIf="getMultiselect(i); then checkbox; else radiobutton"></div>

                <ng-template #checkbox>
                  <mat-checkbox formControlName="isCorrect" class="example-margin">Is correct?
                  </mat-checkbox>
                </ng-template>

                <ng-template #radiobutton>
                  <mat-radio-button
                    [checked]="addQuestionForm.controls.questions['controls'][i]['controls']['options']['controls'][j]['controls'].isCorrect.value"
                    [name]="i" (click)="onRadioClick(i, j)">
                    Is correct?
                  </mat-radio-button>
                </ng-template>

                <mat-form-field>
                  <mat-label appearance="outline">Option {{j+1}}</mat-label>
                  <input matInput formControlName="name" type="text" />
                </mat-form-field>

                <!-- <button type="button" (click)="onAddOptions(i)" class="material-icons">add</button> -->
                <button type="button" (click)="onDeleteOptions(i,j)" class="material-icons cross-icon">+</button>
              </div>

            </div>
          </div>

          <button type="button" (click)="onAddOptions(i)" class="material-icons">+ <small>add
              option</small></button>

        </div>
      </div>
    </div>

    <div class="buttons-area">
      <button (click)="onAddQuestion()" mat-raised-button color="primary" type="button">Add Question</button>
      <br>
      <button type="submit" mat-raised-button color="accent" [disabled]="!this.addQuestionForm.valid">Save</button>
    </div>
  </form>
</div>
