.container {
  width: 75%;
  margin: 0 auto;
}

.quiz-title{
  font-size: 30px;
  text-align: center;
}

.quiz-description {
  margin: 20px;
  text-align: justify;
  font-size: 20px;
}

.question-title {
  font-size: 20px;
}

.question-card {
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
