.wrapper {
  margin-left: 17%;
  padding: 20px;
  padding-top: 100px;
  background-image: url('../../assets/topography.svg');
  background-attachment: fixed;
  background-size: cover;
  min-height: 82vh;
}
