*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: block;
  margin: 20px auto;
  width: 55%;
}

.box {
  display: block;
}

button{
  padding: 10px 20px;
  color:white;
  background-color: var(--secondary);
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
  border: none;
}

button:disabled {
  background-color: rgba(24, 9, 68, 0.5);
  cursor:not-allowed
}

.login {
  font-size: 24px;
  padding: 10px 0;
}


